body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.content {
    min-width: 350px;
}

footer {
    color: #ffffff;
    background-color: #000000;
    min-width: 150px;
    margin-top: 50px;
}